<div id="strap_line">
  <div class="quotations">
    <ul>
      <% quotations.each do |quote| %>
          <li>
            <h2><%= quote.title %></h2>
          </li>
      <% end if quotations %>
    </ul>
  </div>
</div>

