<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<%= render :partial => 'shared/head' %>
<body id="home-page">
<div id="site-wrapper">
  <div id="header">
    <div class="container">
      <div id="logo">
        <h1><a href="index.html">INSIGHT</a></h1>
      </div>
      <ul class="sf-menu">
        <li class="selected"><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a>
          <ul>
            <li><a href="full-width.html">Full Width</a></li>
            <li><a href="#">Meet The Team</a>
              <ul>
                <li><a href="#">Just For</a></li>
                <li><a href="#">Demonstration</a></li>
                <li><a href="#">Purposes</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="services.html">Services</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="testimonials.html">Testimonials</a></li>
        <li><a href="blog.html">Blog</a>
          <ul>
            <li><a href="blog-single.html">Single Post</a></li>
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <div id="slider">
        <div id="strap-line">
          <h2>The best Template for business and freelancers</h2>
        </div>
        <div id="latest-project">
          <div class="slideshow-wrap">
            <ul>
              <li><a href="#"><img src="/images/slides/slide1.jpg" alt="slide1"/></a></li>
              <li><a href="#"><img src="/images/slides/slide2.jpg" alt="slide1"/></a></li>
              <li><a href="#"><img src="/images/slides/slide3.jpg" alt="slide1"/></a></li>
            </ul>
          </div>
        </div>
        <div id="buttons"><a href="#" class="prev">prev</a><a href="#" class="next">next</a></div>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="container">
      <div id="main-column">
        <div id="features">
          <div class="feature-box">
            <div class="inside">
              <h5>Web Designing</h5>
              <img src="/images/icons/screen.png" alt="Web-Design"/>

              <p><a href="services.html">Lorem ipsum dolor sit amet consectetuer adipiscing elit ipsum dolor sit
                amet.</a></p>
            </div>
          </div>
          <div class="feature-box">
            <div class="inside">
              <h5>Creative Logos &amp; Print</h5>
              <img src="/images/icons/tip.png" alt="Creative"/>

              <p><a href="services.html">Lorem ipsum dolor sit amet consectetuer adipiscing elit ipsum dolor sit
                amet.</a></p>
            </div>
          </div>
          <div class="feature-box no-margin">
            <div class="inside">
              <h5>Quality Support 24/7</h5>
              <img src="/images/icons/clock.png" alt="Support"/>

              <p><a href="services.html">Lorem ipsum dolor sit amet consectetuer adipiscing elit ipsum dolor sit
                amet.</a></p>
            </div>
          </div>
        </div>
        <div class="box">
          <h3>who we are ?</h3>
          <img src="/images/who.jpg" alt="" class="round"/>

          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <a href="about.html" class="more">Learn More</a></div>
        <div class="box no-margin">
          <h3>our clients say</h3>
          <blockquote>
            <p>&ldquo; A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring
              which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was
              created for the bliss of souls like mine. &rdquo;</p>
            <cite>- John Doe, <a href="#">ThemeForest.net</a></cite></blockquote>
        </div>
      </div>
      <div id="sidebar">
        <ul>
          <li class="widget" id="latest-post">
            <h3>From The Blog</h3>
            <ul>
              <li class="post">
                <h5><a href="#">Twitter - How &amp; Why ?</a></h5>
                <a href="#"><img src="/images/small-post-thumb1.jpg" alt="thumb" class="post-thumb"/></a>

                <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit nean commodo ligula eget dolor. Aenean massa.
                  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </li>
              <li class="post">
                <h5><a href="#">The Web-Design Process</a></h5>
                <a href="#"><img src="/images/small-post-thumb2.jpg" alt="thumb" class="post-thumb"/></a>

                <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit nean commodo ligula eget dolor. Aenean massa.
                  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
    <ul class="footer-nav">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="portfolio.html">Portfolio</a></li>
      <li><a href="testimonials.html">Testimonials</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
    <div class="copyrights">
      <p>&copy; All rights Reserved <a href="#logo">Companyname.com</a> | created by:
        <a href="http://themeforest.net/user/Bluz/portfolio?ref=Bluz" target="_blank">Bluz</a></p>
    </div>
    <div class="clear"></div>
  </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
